@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
    overflow: hidden
}

/* ======================= */
/*    Headings and Body    */
/* ======================= */

/* 
   h1: 89.8px base; 
   h2: 67.3px base; 
   h3: 50.5px base; 
   h4: 37.9px base; 
   h5: 28.4px base; 
   h6: 21.3px base; 
   p: 16px base 

   2xl is ~1536px+ 
   md is ~768px+ 
   max-sm is <640px 
*/

/* H1 */
.h1 {
    /* Base (~1440px) */
    @apply text-[98.78px];
    /* Larger screens (~1536px+) */
    @apply 2xl:text-[105.71px];
    /* Medium screens (~768px+) */
    @apply md:text-[52.36px];
    /* Very small screens (<640px) */
    @apply max-sm:text-[43.45px];
}

/* H2 */
.h2 {
    @apply text-[74.03px];
    @apply 2xl:text-[79.2px];
    @apply md:text-[39.27px];
    @apply max-sm:text-[32.56px];
}

/* H3 */
.h3 {
    @apply text-[55.55px];
    @apply 2xl:text-[59.4px];
    @apply md:text-[29.48px];
    @apply max-sm:text-[24.42px];
}

/* H4 */
.h4 {
    @apply text-[41.69px];
    @apply 2xl:text-[44.55px];
    @apply md:text-[22.11px];
    @apply max-sm:text-[18.37px];
}

/* H5 */
.h5 {
    @apply text-[31.24px];
    @apply 2xl:text-[33.44px];
    @apply md:text-[16.5px];
    @apply max-sm:text-[13.75px];
}

/* H6 */
.h6 {
    @apply text-[23.43px];
    @apply 2xl:text-[25.08px];
    @apply md:text-[12.43px];
    @apply max-sm:text-[10.34px];
}

/* Paragraph */
.p {
    @apply text-[17.6px];
    @apply 2xl:text-[18.81px];
    @apply md:text-[9.35px];
    @apply max-sm:text-[7.7px];
}


/* ======================= */
/*   Other Utility Classes */
/* ======================= */

/* Responsive margins for mobile text sizing */
.m1 {
    @apply max-sm:text-xl;
}
.m2 {
    @apply max-sm:text-lg;
}
.m3 {
    @apply max-sm:text-[12px];
}
.m4 {
    @apply max-sm:text-[10px];
}
.m5 {
    @apply max-sm:text-[8px];
}

/* Responsive padding container */
.responsivePad {
    @apply 2xl:px-[200px] xl:px-[120px] lg:px-[96px] sm:px-[64px] max-sm:px-[16px];
}


.btn:hover .plus { 
    animation: twist 0.25s ease-in-out forwards;
}

@keyframes twist { 
    from { 
        transform: rotate(0deg);
    }
    to { 
        transform: rotate(90deg);
    }
}
